<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style type="text/css">
        .style1 {
            text-align: center;
        }
    </style>
    <meta name="description" content="Home page"/>
    <script type="text/javascript" src="/static/main.js"></script>
    <title>Home</title>
</head>

<body onload=""
      style="background-color: #CCFFFF">

<table style="width: 100%">
    <tr>
        <th class="style1" style="height: 10px">
            <a href="/home">
                <img alt="Home" height="20" id="img1"
                     onmousedown="FP_swapImg(1,0,/*id*/'img1',/*url*/'/static/button9.jpg')"
                     onmouseout="FP_swapImg(0,0,/*id*/'img1',/*url*/'/static/button7.jpg')"
                     onmouseover="FP_swapImg(1,0,/*id*/'img1',/*url*/'/static/button8.jpg')"
                     onmouseup="FP_swapImg(0,0,/*id*/'img1',/*url*/'/static/button8.jpg')"
                     src="/static/button7.jpg"
                     style="border: 0"
                     width="100"/>
            </a><br/>
            <button>About

            </button>
            <a
                    href="/contact">
            </a>
            <br/>
            <button>
                Contact
            </button>
        </th>
        <th class="style1" style="height: 10%">
            <img alt="Home" height="425" longdesc="Home" src="/static/schoolimg.jpg" width="850"/></th>
        <th class="style1" style="height: 10px">
            <form method="post" action="/login">
                <button type="submit">Log in</button>
            </form>
        </th>
    </tr>
    <tr>
        <td colspan="3" style="height: 80%">
            This will be the resoult of request
        </td>
    </tr>
    <tr>
        <td colspan="3" style="height: 5%" class="style1">
            <hr/>
            <br/>
            Created by Péter Würfel<br/>
            No rights reserved.
        </td>
    </tr>
</table>

</body>

</html>
