<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style type="text/css">
        .style1 {
            text-align: center;
        }
    </style>
    <meta name="description" content="Home page"/>
    <script type="text/javascript" src="/static/main.js"></script>
    <title>Home</title>
</head>

<body onload="FP_preloadImgs(/*url*/'/static/button16.jpg',/*url*/'/static/button19.jpg',/*url*/'/static/button1A.jpg',/*url*/'/static/button1C.jpg',/*url*/'/static/button1F.jpg',/*url*/'/static/button20.jpg',/*url*/'/static/button22.jpg',/*url*/'/static/button23.jpg',/*url*/'/static/buttonE.jpg',/*url*/'/static/buttonF.jpg',/*url*/'/static/button14.jpg',/*url*/'/static/button15.jpg',/*url*/'/static/button23.jpg',/*url*/'/static/button24.jpg')"
      style="background-color: #CCFFFF">

<table style="width: 100%">
    <tr>
        <th class="style1" style="height: 10px">
            <a href="/profile">
                <img style="border: 0" id="img5" src="/static/button13.jpg" height="20" width="100" alt="Profile"
                     onmouseover="FP_swapImg(1,0,/*id*/'img5',/*url*/'/static/button14.jpg')"
                     onmouseout="FP_swapImg(0,0,/*id*/'img5',/*url*/'/static/button13.jpg')"
                     onmousedown="FP_swapImg(1,0,/*id*/'img5',/*url*/'/static/button15.jpg')"
                     onmouseup="FP_swapImg(0,0,/*id*/'img5',/*url*/'/static/button14.jpg')"/>
                <!-- MSComment="ibutton" fp-style="fp-btn: Embossed Capsule 5" fp-title="Profile" --></a><br/>
            <a href="/diary">
                <img style="border: 0" id="img6" src="/static/button22.jpg" height="20" width="100" alt="Diary"
                     onmouseover="FP_swapImg(1,0,/*id*/'img6',/*url*/'/static/button23.jpg')"
                     onmouseout="FP_swapImg(0,0,/*id*/'img6',/*url*/'/static/button22.jpg')"
                     onmousedown="FP_swapImg(1,0,/*id*/'img6',/*url*/'/static/button24.jpg')"
                     onmouseup="FP_swapImg(0,0,/*id*/'img6',/*url*/'/static/button23.jpg')"/>
                <!-- MSComment="ibutton" fp-style="fp-btn: Embossed Capsule 5" fp-title="Diary" --></a></th>
        <th class="style1" style="height: 10%">
            <a href="/profile">
                <img alt="Home" src="/static/schoolimg.jpg" width="950" height="350" longdesc="Home"/></a></th>
        <th class="style1" style="height: 10px">
            <a href="/logout">
                <img style="border: 0" id="img4" src="/static/buttonD.jpg" height="20" width="100" alt="Log out"
                     onmouseover="FP_swapImg(1,0,/*id*/'img4',/*url*/'/static/buttonE.jpg')"
                     onmouseout="FP_swapImg(0,0,/*id*/'img4',/*url*/'/static/buttonD.jpg')"
                     onmousedown="FP_swapImg(1,0,/*id*/'img4',/*url*/'/static/buttonF.jpg')"
                     onmouseup="FP_swapImg(0,0,/*id*/'img4',/*url*/'/static/buttonE.jpg')"/>
                <!-- MSComment="ibutton" fp-style="fp-btn: Embossed Capsule 5" fp-title="Log out" --></a></th>
    </tr>
    <tr>
        <td colspan="3" style="height: 80%">
            This will be the resoult of request
        </td>
    </tr>
    <tr>
        <td colspan="3" style="height: 5%" class="style1">
            <hr/>
            <br/>
            Created by Péter Würfel<br/>
            No rights reserved.
        </td>
    </tr>
</table>

</body>

</html>
