<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:text-align="http://www.w3.org/1999/xhtml"
>

<head>
    <meta content="text/html" charset="UTF-8" http-equiv="Content-Type"/>
    <style type="text/css">
        .style1 {
            text-align: center;
        }

        textarea {
            resize: none;
        }
    </style>
    <meta content="Home page" name="description"/>
    <script src="/main.js" type="text/javascript"></script>

    <title>Home</title>
</head>
<script>
    let searchText = 1
    let addText = 3
</script>
<body style="background-color: #CCFFFF">

<table style="width: 100%" text-align:center>
    <tr>
        <th class="style1" style="height: 10%; width:15%">
            <input onclick="/tli/profile" style="width: 150px" type="button" value="Profile"/>
            <br/><br/>
            <input onclick="/tli/search" style="width: 150px" type="button" value="Search"/>
            <br/><br/>
            <input onclick="/tli/mycls" style="width: 150px" type="button" value="My Class"/>
            <br/><br/>
            <input onclick="/tli/mysts" style="width: 150px" type="button" value="My Students"/>
        </th>
        <th class="style1" style="height: 10%; width:70%">
            <a href="/tli">
                <img alt="Home" height="275" longdesc="Home" src="/school_new.jpg" width="100%"/></a></th>
        <th class="style1" style="height: 10%; width:15%">
            <input onclick="location.href='/'" style="width:150px" type="button" value="Log out"/>
        </th>
    </tr>
</table>
<hr/>
<table id="searchTable" class="style1" border="1" style="width: 100%"></table>
<table id="resultTable" class="style1" border="1" style="width: 100%"></table>
<table style="width: 100%">
    <tr id="tableGenerated"></tr>
    <tr>
        <td class="style1" colspan="3" style="height: 5%">
            <hr/>
            <br/>
            Created by Peter Würfel<br/>
            No rights reserved.
        </td>
    </tr>
</table>
</body>
</html>
